<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Calories Count</title>
		<link rel="stylesheet" type="text/css" href="../public/styles/styles.css">
		<style> 
			.picarea {
				float: left;
				margin: 10px;
			}
		</style>

	</head>
	<body>

<div class="wrapper">
		<div class="logo">

			<p>
			Logo
			</p>

        </div>
        
        <div class="littlebox">
            <p>
                Choice2<br>
                Person enters what Restaurant<br>
                they want for that day
              </p>

           </div>
		
		<section class="mainbox">
			
			<h2> 
				Calories for the Day
			</h2>
			
			

        </section>
        
        <section class="mainbox">
			
			<h2> 
				Food for the Day
			</h2>
			
			

        </section>
        
        <section class="mainbox">
			
			<h2> 
				Calories you have left for the Day
			</h2>
			
			

		</section>

		

		
</div>
</body>
</html>
